body {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: 'Roboto', sans-serif;
  color: #222;
  height: 100%;
  background-image: url("bg-img.jpg");
  background-size: cover;
  font-weight: 400;
  font-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1{
  margin: 0;
  font-size: 13rem;
  line-height: 400px;
  font-weight: 300;
  color: #222;
}

p {
  margin: 0 0 2rem 0;
  font-size: 2rem;
  line-height: 1.4;
}

p.lead {
  color: #fff;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.form {
	line-height: 1.5;
    border: none;
	width: 700px;
	font-size: 2em;
	color: #222;
	padding: 5px 10px;
    background-color: rgb(255 255 255 / 70%);
    margin-right: 1rem;
    border-radius: 5px;
}

button {
    line-height: 2.0;
    border: none;
    font-size: 2em;
    color: #222;
    padding: 5px 30px;
    background: rgb(255 255 255 / 70%);
    border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #222;
}
input[type=text]:focus {
  outline: none;
}

button:hover{
  background-color: rgb(255 255 255);
  cursor: pointer;
}

p.lead strong {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 5px;
  padding: 10px 15px;
}

